<div class="connect-twitterfeed-item dnnClear" >

    <div class="connect-twitterfeed-profilepic">
        <img src="[AUTHORIMAGEURLORIGINAL]" alt="[AUTHORFULLNAME]" />
    </div>

    <div class="connect-twitterfeed-content">
        <p>[HTMLCONTENT]</p>
        [HASEMBEDDEDIMAGE]<p><img src="[EMBEDDEDIMAGEURL]" alt="" /></p>[/HASEMBEDDEDIMAGE]
    </div>

    <div class="connect-twitterfeed-author">
        <span>by <a href="http://twitter.com/[AUTHORSCREENNAME]" target="_blank">@[AUTHORSCREENNAME]</a> [PUBLISHDATE][PUBLISHTIME]</span>
    </div>

</div>